<md-dialog flex=50>
	<md-content>
		<md-toolbar>
			<div layout="row">
				<div offset=40>
					<h4> Add A New Team</h4>
				</div>
			</div>
		</md-toolbar>
		<md-divider></md-divider>
		<form name="teamForm">
			<md-input-container >
		          <label>Name</label>
		          <input ng-model="team.name" >
		    </md-input-container>
			
			<md-input-container >		
				 <label>Select Accomodation Status</label>
				 <md-select ng-model="team.acc" >			    	
			   		<md-option ng-value="acc"  ng-repeat="acc in accs" >{{acc}}</md-option>
			   	</md-select>	   
			</md-input-container >			
			<md-input-container >
		          <label>City</label>
		          <input ng-model="team.city" >
		    </md-input-container>
		     
		    <md-datepicker ng-model="team.dateOfArrival" placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>		   
		    <p style="color:#B4B4A9 ;font-weight:bold">Date Of Arrival </p>
		    <md-datepicker ng-model="team.dateOfDeparture" placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
		    <p style="color:#B4B4A9 ;font-weight:bold">Date Of Departure </p>
		</form>
	</md-content>
</md-dialog>