$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#notification_li
{
	overflow:visible;
}

#notificationContainer 
{
	background-color: #fff;
	color: #000;
	border: 1px solid rgba(100, 100, 100, .4);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	overflow: visible;
	position: absolute;
	margin-left: -150px;
	width: 400px;
	z-index: -1;
	display: none; // Enable this after jquery implementation 
}

// Popup Arrow
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}
#notificationTitle
{
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	position: fixed;
	z-index: 1000;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
	position: fixed;
	padding: 33px 0px 0px 0px !important;
	min-height:300px;
	height: 600px;
	overflow: scroll;
}
#notificationFooter
{
	position: fixed;
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}

// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'account/editProfile/editProfile.scss';
@import 'account/login/login.scss';
@import 'addTeam/addTeam.scss';
@import 'admin/admin.scss';
@import 'coordPortal/editProfile/editProfile.scss';
@import 'departments/departments.scss';
@import 'main/main.scss';
@import 'newsfeed/newsfeed.scss';
@import 'tasks/tasks.scss';
@import 'wall/department/department.scss';
@import 'wall/group/group.scss';
@import 'wall/profile/profile.scss';
@import 'wall/subDepartment/subDepartment.scss';
@import 'components/modal/modal.scss';
@import 'modal/modal.scss';
// endinjector