<div layout="column" layout-fill ng-controller="NavbarCtrl">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools" layout="row" layout-align="center center" style="z-index: 100">
      <ng-md-icon icon="menu" style="fill: white" ng-click="toggleRight()" ng-show="isLoggedIn()"></ng-md-icon>
      <md-button ui-sref="newsfeed">
        erp 2016
      </md-button>
      <!-- fill up the space between left and right area -->
      <span flex></span>      
      <md-button ng-show="isLoggedIn()" ui-sref='profile({ userId: getCurrentUser()._id })'>
        Hello {{ getCurrentUser().name }}
      </md-button>
      <md-button ng-hide="isLoggedIn()" ui-sref='login'>
        Login
      </md-button>
      <!-- Notification -->
      <div ng-click="read()" style="margin-right:10px; margin-top:5px;" id="notification_li">
        <span id="notification_count"></span>
        <a href="#" id="notificationLink"><ng-md-icon icon="notifications" style="fill: white"></ng-md-icon></a>
          <div id="notificationContainer">
            <md-whiteframe>
                <div id="notificationTitle">Notifications</div>
                <div id="notificationsBody" layout="column" class="notifications">
                  <div class="notifDiv" ng-if="notification.action == 'comment'" ng-hide="show" ng-repeat="notification in notifications">
                    <a href="">
                    <md-whiteframe class="md-whiteframe-z3"layout layout-align="center center">
                      <div id="notifMessage" class="notif{{notification.read}}">{{notification.commentedBy[0].name}} and {{notification.commentedBy.length - 1}} others {{notification.action}}ed on {{notification.post.wall.name}}'s post
                      <br>
                      <small> {{notification.updatedOn | date:mediumTime}}</small></div>
                    </md-whiteframe>
                    </a>
                    <br>
                  </div>
                  <div class="notifDiv" ng-if="notification.action == 'post'" ng-hide="show" ng-repeat="notification in notifications">
                    <a href="">
                    <md-whiteframe class="md-whiteframe-z3" layout layout-align="center center">
                      <div id="notifMessage" class="notif{{notification.read}}">{{notification.postedBy.name}} {{notification.action}}ed on {{notification.post.wall.name}}'s wall
                      <br>
                      <small> {{notification.updatedOn | date:mediumTime}}</small></div>
                    </md-whiteframe>
                    </a>
                    <br>
                  </div>
                </div>
            </md-whiteframe>
          </div>
      </div>

      <md-button ng-show="isLoggedIn()" class="md-icon-button launch" ui-sref='profile({ userId: getCurrentUser()._id })'>
        <img ng-src="/api/users/{{getCurrentUser()._id}}/profilePic" fallback-src="client/assets/images/slogo.png" class="md-avatar" style="width:100%; height: 100%;"/>
      </md-button>
    <!--   Notificatons -->
      <!-- <md-button ng-show="isLoggedIn()"  id="notificationLink" ng-class="{active: notif}"><a ng-click="showNotification()"><span id="notificationCount">{{ notifications.length }}</span><span class="glyphicon glyphicon-bell"></span></a>
          <div id="notificationContainer" ng-if="notif" ng-mouseenter="scrollStop()" ng-mouseleave="scrollWork()">
          <div id="notificationTitle">Notifications</div>
          <div id="notificationsBody" class="notifications">
            <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" ng-if="(notifications.length == 0)">
            <span>No new notifications</span>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center" ng-repeat="notification in notifications">
            <div class="notifDiv">
              <a id="closeButton" class="glyphicon glyphicon-remove-circle" ng-click="notifHide($index)"></a>
              <div id="notifMessage">{{ notification }}</div>
            </div>
            </md-whiteframe>
          </div>
          <div id="notificationFooter"><a ng-click="hideAllNotif()">Mark all as read</a></div>
          </div>
        </md-button> -->
      <!-- <md-button id="notification_li">
        Notifications
        <div id="notificationContainer">
          <div id="notificationTitle">Notifications</div>
          <div id="notificationsBody" class="notifications">
            <div infinite-scroll="load()">
              <div ng-repeat="notification in notifications | filter:{active: true}:strict">
                {{notification._id}}
              </div>
              <div ng-repeat="notification in notifications | filter:{active: false}:strict">
                {{notification._id}}
              </div>
            </div>
          </div>
          <div id="notificationFooter"><a href="#">See All</a></div>
        </div>
      </md-button> -->
      <!-- <md-button ng-show="isLoggedIn()" class="md-icon-button launch" ui-sref='settings'>
        <ng-md-icon icon="settings" style="fill: white" size="40"></ng-md-icon>
      </md-button> -->
      <md-button ng-show="isLoggedIn()" ng-click="logout()">
        Logout
      </md-button>
    </div>
  </md-toolbar>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Quick Links</h1>
    </md-toolbar>
    <md-content layout-padding flex="10">
    <md-list>
      <md-subheader class="md-no-sticky">Departments</md-subheader>
      <md-list-item ng-repeat="department in user.department" offset="5" flex>
        <a ui-sref="department({ deptId: department._id })"> {{ department.name }} </a>
      </md-list-item>
      <md-subheader class="md-no-sticky">Sub Departments</md-subheader>
      <md-list-item ng-repeat="subDepartment in user.subDepartment"  offset="5" flex>
        <a ui-sref="subDepartment({ subDeptId: subDepartment._id })"> {{ subDepartment.name }} </a>
      </md-list-item>
      <md-subheader class="md-no-sticky">Groups</md-subheader>
      <md-list-item ng-repeat="group in user.groups"  offset="5" flex>
        <a ui-sref="group({ groupId: group._id })"> {{ group.name }} </a>
      </md-list-item>
    </md-list>
    </md-content>
  </md-sidenav>
</div>
