<div layout="column" layout-fill ng-controller="NavbarCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
      <md-button href="/">
        erp 2016
      </md-button>
      <!-- fill up the space between left and right area -->
      <span flex></span>      
      <md-button ng-show="isLoggedIn()">
        Hello {{ getCurrentUser().name }}
      </md-button>
      <md-button ng-hide="isLoggedIn()" ui-sref='signup'>
        Sign up
      </md-button>
      <md-button ng-hide="isLoggedIn()" ui-sref='login'>
        Login
      </md-button>
      <md-button ng-show="isLoggedIn()" class="md-icon-button launch" ui-sref='profile({ userId: getCurrentUser()._id })'>
        <img ng-src="{{profilePic}}" class="md-avatar" />
      </md-button>
      <md-button ng-show="isLoggedIn()" class="md-icon-button launch" ui-sref='settings'>
        <ng-md-icon icon="settings" style="fill: white" size="36"></ng-md-icon>
      </md-button>
      <md-button ng-show="isLoggedIn()" ng-click="logout()">
        Logout
      </md-button>
    </div>
  </md-toolbar>
</div>
