<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
<!-- to show gen alerts -->
<!--     <div class="row">
    	<div class="col-sm-offset-4 col-sm-4 text-center">
   			<alert ng-click="emptyAlerts()" ng-show="message.type && message.msg" type="{{message.type}}">
   				{{ message.msg }}
   			</alert>
   		</div>
   	</div>
 --><!-- to show gen alerts -->
	
     <div class="row">
		<div class="col-sm-offset-2 col-sm-5">
			<div class="container-fluid">
				<h4><b>Welcome {{ getCurrentUser().name }}</b></h4>
				<br>
				<p>Please choose the department of your choice and <b>Apply</b>.</p>
				<p>Please complete the questionnaire before the deadline.</p>
				<p>You are allowed to apply to any number of departments</p>
				<h5><b>Good Luck!!</b></h5>
			</div>
			<br><br>
				<h4>Your Applications</h4>
			<table ng-show="1" st-table="formsApplied" class="table table-striped">
				<thead>
					<tr>
						<th>Applied for</th>
						<th>Position</th>
						<th>Fill your App</th>
						<th>Delete Application</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="Form in formsApplied">
						<td>{{Form.form.name}}</td>
						<td>{{Form.form.position.name}}</td>
						<td><a class="btn btn-info" ng-href="/forms/formView/{{Form.form._id}}">View<a/></td>
						<td><a class="btn btn-danger" ng-click="deleteApp(Form.form._id)">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" -->
        <div class="col-sm-4">
        	<div class="container-fluid">
	        	<form>
	        		<div class="form-group">
	        			<label for="department-select">Select</label>
			            <select class="form-control" ng-model="preference" id="department-select">
			            	<option ng-repeat="form in allForms | orderBy:'department.name'" value="/forms/formView/{{form._id}}">
			            		{{form.department.name}} | {{form.name}}
			            	</option>
			        	</select>
	        		</div>
			        <a class="btn btn-primary" ng-href="{{preference}}">View Questions</a>
	        	</form>
        	</div>
	        <br>
	      	<div class="container-fluid">
	        	<div id="fb-root">
        			</div>
                                    <div class="fb-page" data-href="https://www.facebook.com/saarangiitm" data-width="500" data-height="250" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/saarangiitm"><a href="https://www.facebook.com/saarangiitm">Saarang, IIT Madras</a></blockquote></div>
				</div>
			</div>
	        <div class="container-fluid">
	        	<h4 class="text-center"><b>Instructions and Regulations</b></h4>
	        	<h5><b>General</b></h5>
	        	<ul>
	        		<li><a href="#">Contact Details</a> of previous year's Coordinators.</li>
	        		<br>

	        		<li>Keep a photo-copy of your <b>Grade Card</b> for your interview.</li>
	        		<br>
	        		
	        		<li>Deadline is <b>Deadline Here</b>.</li>
	        		<br>
	        			        		
	        		<li><b>You can find the ACM presentations <a href="#">here</a></b>.</li>
	        		<br>
	        		
	        		<li>Contact the <a href="#">WebOps Core</a> in case of any problems with the portal.</li>
	        	</ul>
	        </div>
		</div>
    </div>    
</div>
