<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
<!-- to show gen alerts -->
<!--     <div class="row">
    	<div class="col-sm-offset-4 col-sm-4 text-center">
   			<alert ng-click="emptyAlerts()" ng-show="message.type && message.msg" type="{{message.type}}">
   				{{ message.msg }}
   			</alert>
   		</div>
   	</div>
 --><!-- to show gen alerts -->
	
     <div class="row">
		<div class="col-sm-offset-1 col-sm-5">
			<div class="container-fluid">
				<h4><b>Welcome {{ getCurrentUser().name }}</b></h4>
				<br>
				<p>Please choose the department of your choice and <b>save</b>.</p>
				<p>Please complete the questionnaire before the deadline.</p>
				<p>You are allowed to apply to any number of departments</p>
				<br>
				<h5><b>Good Luck!!</b></h5>
			</div>
			<br><br>
			<table ng-show="1" st-table="formsApplied" class="table table-striped">
				<thead>
					<tr>
						<th>Applied for</th>
						<th>Position</th>
						<th>Fill your App</th>
						<th>Delete Application</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="Form in formsApplied">
						<td>{{Form.form.department}}</td>
						<td>{{Form.form.position.name}}</td>
						<td><a class="btn btn-info" ng-href="/forms/formView/{{Form.form._id}}">View<a/></td>
						<td><a class="btn btn-danger" ng-click="deleteApp(Form.form._id)">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
<!-- onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);" -->
        <div class="col-sm-offset-1 col-sm-4">
        	Select:
			<div class="container-fluid">
				<div class="col-sm-8">
		            <select class="form-control" ng-model="preference">
		               	<!-- <optgroup ng-repeat="form in allForms" label="{{form.department[0].name}}"> -->
		            	<option ng-repeat="form in allForms | orderBy:'department.name'" value="/forms/formView/{{form._id}}">
		            		{{form.name}}
		            	</option>
		            	<!-- </optgroup> -->
		        	</select>
	        	</div>
	        	<div class="col-sm-3">
		        	<a class="btn btn-primary" ng-href="{{preference}}">View Questions</a>
				</div>
	        </div>    
			<div class="jumbotron">
				put fb thingy here
	        </div>
	        <div class="container-fluid">
	        	<h4 class="text-center"><b>Instructions and Regulations</b></h4>
	        	<h5><b>General</b></h5>
	        	<ul>
	        		<li><a href="#">Contact Details</a> of previous year's Coordinators.</li>
	        		<br>

	        		<li>Keep a photo-copy of your <b>Grade Card</b> for your interview.</li>
	        		<br>
	        		
	        		<li>Deadline is <b>11:59pm, Tuesday, 12th August, 2015</b>.</li>
	        		<br>
	        		
	        		<li><b>Please fill this <a href="#">form</a> if you are interested in applying</b>.</li>
	        		<br>
	        		
	        		<li><b>You can find the ACM presentations <a href="#">here</a></b>.</li>
	        		<br>
	        		
	        		<li>Contact ... (WebOps Core) in case of any problems with the portal.</li>
	        	</ul>
	        </div>
		</div>
    </div>    
</div>

<footer class="footer">
  	<div class="container">
    	<p>
	      	<a href="http://www.shaastra.org">Shaastra 2015</a> |
	        <a href="https://twitter.com/ShaastraIITM">Twitter</a> |
	        <a href="https://www.facebook.com/Shaastra?ref=br_tf">Facebook</a>
	    </p>
	</div>
</footer>
