<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    <div class="row" ng-hide="updated">
        <div class="col-sm-12 text-center">
            <h4><u>Choose your preference and click 'save' button</u></h4> <br>
        </div>
    </div>    
<!--     <div class="row" ng-show="updated">
        <div class="col-sm-12 text-center">
            <h4>You have applied for {{applying}}</h4> 
        </div>
    </div>    
 -->

<!-- to show gen alerts -->
    <div class="row">
    	<div class="col-sm-offset-4 col-sm-4 text-center">
   			<alert ng-click="emptyAlerts()" ng-show="message.type && message.msg" type="{{message.type}}">
   				{{ message.msg }}
   			</alert>
   		</div>
   	</div>
<!-- to show gen alerts -->
	
     <div class="row">
		<div class="col-sm-6">
			<div class="jumbotron">
				put instructions here
			</div>
			<table st-table="formsApplied" class="table table-striped">
				<thead>
					<tr>
						<th>Department</th>
						<th>Sub-Department</th>
						<th>Position</th>
						<th>Fill your App</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="form in formsApplied">
						<td>{{form.form_department[0].name}}</td>
						<td>{{form.form_subDepartment[0].name}}</td>
						<td>{{form.form_position[0].name}}</td>
						<td><a ng-href="/forms/formView/{{form._id}}">View<a/></td>
					</tr>
				</tbody>
			</table>
		</div>

        <div class="col-sm-3">
			<div class="jumbotron">
				<h5><b>Select the category and fill the application if you want to apply</b></h5>
	            <select class="form-control" ng-model="preference" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	               	<!-- <optgroup ng-repeat="form in allForms" label="{{form.form_department[0].name}}"> -->
	            	<option ng-repeat="form in allForms | orderBy:'form_department[0].name'" value="/forms/formView/{{form._id}}">
	            		{{form.form_department[0].name}} | {{form.form_subDepartment[0].name}} | {{form.form_position[0].name}}
	            	</option>
	            	<!-- </optgroup> -->
	        	</select>
	        </div>    
		</div>
        <div class="col-sm-3">
			<div class="jumbotron">
				put fb thingy here
	        </div>    
		</div>
    </div>    
</div>

<footer class="footer">
  	<div class="container">
    	<p>
	      	<a href="http://www.shaastra.org">Shaastra 2015</a> |
	        <a href="https://twitter.com/ShaastraIITM">Twitter</a> |
	        <a href="https://www.facebook.com/Shaastra?ref=br_tf">Facebook</a>
	    </p>
	</div>
</footer>
