<div ng-include="'components/navbar/navbar.html'"></div>

<!-- for alerting gen messages -->
<div class="col-sm-12">
    <alert ng-click="closeAlert()" ng-show="message.type && message.msg" type="{{message.type}}">
        {{message.msg}} (<span class="small">Click to hide this alert</span>)
    </alert>
    <br>
</div>

<div class="container-fluid col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h1>Create a new form</h1> <br>
            <blockquote>
                <p>Select field type you want to add to the form below and click on 'Add Field' button. Don't forget to set field properties. After you finish creating the form, you can preview the form by clicking Preview Form button.</p>
            </blockquote>
        </div>
    </div>    
</div>
<div class="container-fluid col-sm-6">
    
    <div class="row">
        <h2 class="text-center">Form Properties</h2>
    </div>
    <br>
    <form>
        <div class="form-group col-sm-6">
            <label for="form-name">Form Name</label>
            <input class="form-control" id="form-name" type="text" ng-disabled="previewMode" ng-model="form.name">
        </div>
        <div class="form-group col-sm-6">
            <label for="form-department">Department</label>
            <select class="form-control" id="form-department" ng-change="change()" ng-model="form.department" ng-options="department._id as department.name for department in departments"></select>
        </div>
        <div class="form-group col-sm-6">
            <label for="form-subDepartment">Sub-Department</label>
            <select class="form-control" id="form-subDepartment" ng-model="form.subDepartment" ng-options="sub._id as sub.name for sub in subs"></select>
        </div>
        <!-- <div class="form-group col-sm-6">
            <label for="form-position">Position</label>
            <select class="form-control" id="form-position" ng-model="form.position" ng-options="role.name for role in positions track by role.value"></select>
        </div> -->
        <div class="form-group col-sm-6">
            <input type="checkbox" ng-model="form.allowUploads">
            <label for="form-allowUploads">Allow Uploads</label>
        </div>
    </form>
</div>

<div class="col-sm-12 jumbotron">



    <fieldset class="col-sm-12">
        <p>App Questionnaire: </p>
        <input class="form-control" type="text" ng-model="form.formFileId">
        <div>
            <br>
            <progressbar class="progress-striped active" max="100" value="progressPercentage">
                <i>{{progressPercentage}}%</i>
            </progressbar>
        </div>
    </fieldset>

    <div class="row">
        <h4 class="text-center" ng-show="form.fields.length == 0">No question added yet</h4>
    </div>

    <div class="container-fluid" ng-repeat="field in form.fields">
        <hr>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="field-title{{field.field_title}}">Question: {{field.field_title}}</label>
                <div class="col-sm-10">
                    <input class="form-control" id="field-title{{field.field_title}}" type="text" ng-model="field.field_title" value="{{field.field_title}}">
                    <button class="btn btn-danger" class="form-control" type="button" ng-click="deleteField(field.field_id)"><span class="glyphicon glyphicon-trash"></span> Delete question</button>
                </div>
            </div>
<!-- 
            <div class="form-group">
                <div class="col-sm-6">
                    <label for"field-default">Default value</label>
                    <input class="form-control" id="field-default" type="text" ng-model="field.field_value" value="{{field.field_value}}">
                </div>
            </div>
-->
            <div class="from-group">
                <div class="col-sm-12">
                    <div class="radio">
                        <label>
                            <input type="radio" ng-value="true" ng-selected ng-model="field.field_required"/> This question is required to be answered
                        </label>
                        &nbsp;&nbsp;
                        <label>
                            <input type="radio" ng-value="false" ng-model="field.field_required"/>This question is not required to be answered
                        </label>
                    </div>
                </div>
            </div>
        </form>
<!-- 
        <div class="row" ng-show="showAddOptions(field)">
            <div class="col-sm-12">
                <h4>Field Options:</h4>
            </div>
            <div class="col-sm-4">
                <div ng-repeat="option in field.field_options">
                    <input class="form-control" type="text" ng-model="option.option_title" value="{{option.option_title}}">
                    <a class="btn btn-danger" type="button" ng-click="deleteOption(field, option)"><span class="glyphicon glyphicon-minus"></span></a>
                    <span><kbd>Value: {{ option.option_value }}</kbd></span>
                </div>
                <button class="btn btn-primary btn-small" type="button" ng-click="addOption(field)"><span class="glyphicon glyphicon-plus"></span> Add Option</button>
            </div>
        </div>
 -->
        <br><br><br>

    </div>
    <hr>

    <form class="form-inline">
        <div class="form-group col-sm-12">
            <p class="form-control-static">Click Add Question to add a question</p>
            <button class="btn btn-primary" ng-click="addNewField()"><span class="glyphicon glyphicon-plus"></span> Add Question</button>
            <button class="btn btn-success right" type="button" ng-click="createForm()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>        
        </div>
    </form>

    <br>
<!-- 
    <form class="form-horizontal">
        <div class="form-group">

            <label for="form-field" class="col-sm-2 control-label">Fields</label>
            <div class="col-sm-6">
                <select class="form-control" id="form-field" ng-model="addField.new" ng-options="type.value as type.name for type in addField.types"></select>
            </div>
            <div class="col-sm-3">        
                <button type="submit" class="btn btn-primary" ng-click="addNewField()"><span class="glyphicon glyphicon-plus"></span> Add Question</button>
            </div>
 
        </div>    
    </form>
 -->
    <br>
</div>
