
    <md-dialog aria-label="Update" flex="50">
      <div style="padding: 25px; overflow:auto;">
        <form name="newEventForm" ng-submit="updateEvent(newEventForm)">
          <md-input-container>
            <label>Event Name</label>
            <input name="title" ng-model="event.name" ng-required="true" mongoose-error />
          </md-input-container>
          <div style="color:red">
            <span ng-show="form.title.$error.required && submitted">
              Title is required.
            </span>
            <span>{{ errors.other }}</sapn>
          </div>

          <md-input-container>
            <label>Event Info</label>
            <textarea required name="info" ng-model="event.info" mongoose-error font-face='sans-serif'></textarea>
          </md-input-container>
          <div style="color:red">
            <span ng-show="form.info.$error.required && submitted">
              Info is required.
            </span>
            <span>{{ errors.other }}</span>
          </div>

          <md-input-container>
            <label>Venue</label>
            <input name="title" ng-model="event.venue" ng-required="true" mongoose-error />
          </md-input-container>
          <table><tr>
            <td width="25%"><md-input-container flex>
              <label>Event Date</label>
              <input type='date' ng-model="eventDate">
            </md-input-container></td>

            <td width="25%"><md-input-container flex>
              <label>Start Registration</label>
              <input type='date' ng-model="startReg">
            </md-input-container></td>

            <td width="25%"><md-input-container flex>
              <label>End Registration</label>
              <input type='date' ng-model="endReg" min="{{startReg}}">
            </md-input-container></td>
          </tr></table>
          <table><tr><td>
            <md-checkbox ng-model="individualEvent" ng-change="toggleIndividuality()" aria-label="Individual event">
              Individual event
            </md-checkbox></td><td>
            <div ng-if="isTeamEvent()">
            <md-input-container flex>
              <label>Number of members per team</label>
              <input type="number" step="any" ng-model="event.maxTeamMembers" min="2" max="100">
            </md-input-container></div></td></tr></table>
          <br />

            <md-checkbox ng-model="isEvent" aria-label="is event">
              Add it as an Event
            </md-checkbox>
            <md-checkbox ng-model="isWorkshop" aria-label="is workshop">
              Add it as a Workshop
            </md-checkbox>


          <md-chips ng-model="selectedCoords" md-autocomplete-snap md-require-match ng-show='hasRoleSuperCoord()'>
            <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in coords"
              md-item-text="item.name"
              placeholder="Assign a team member">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
              <strong>{{ $chip.name }}</strong>
            </md-chip-template>
          </md-chips>
          <br>

          <md-chips ng-model="selectedEventLists" md-autocomplete-snap md-require-match >
            <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in eventLists"
              md-item-text="item.title"
              placeholder="Assign an event list">
                <span md-highlight-text="searchText">{{item.title}}</span>
            </md-autocomplete>
            <md-chip-template>
              <strong>{{ $chip.title }}</strong>
            </md-chip-template>
          </md-chips>

          <md-checkbox ng-model="event.requireTDP" aria-label="Require TDP Submissions">
            Require TDP Submissions
          </md-checkbox>
          <md-checkbox ng-model="event.paidEvent" aria-label="Paid event">
            Paid event
          </md-checkbox>
          <md-checkbox ng-model="event.shaastraFellowship" aria-label="Shaastra felloship">
            Shaastra fellowship event
          </md-checkbox>

          <md-button class="md-primary md-raised" type="submit">Update</md-button><md-button ng-click='cancel()' type="button">Close window</md-button>
        </form>  
      </div>
    </md-dialog>