<div ng-include="'components/navbar/navbar.html'"></div>

<div layout="row" layout-margin>
  <div class="eventsPortal eventContainer" flex flex-order="1">
    <div class="md-whiteframe-z1">
      <md-content class="md-theme-light">
            <div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Event Name</h6>
                      <p>{{ event.name}}</p>
                    </div>
          	    </div>
          	</div>
          	<div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Event Info</h6>
                      <p>{{ event.info}}</p>
                    </div>
          	    </div>
          	</div>
            <div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Assignees</h6>
                      <ul ng-repeat="assignee in event.assignees">
                        <li>{{assignee.name}}</li>
                      </ul>
                    </div>
                </div>
            </div>
            <div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Event Category</h6>
                      <ul ng-repeat="eventCat in event.eventCategory">
                        <li>{{eventCat.title}}</li>
                      </ul>
                    </div>
                </div>
            </div>
            <div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Created By</h6>
                      <p>{{ event.createdBy.name}}</p>
                    </div>
                </div>
            </div>
          	<div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Created On</h6>
                      <p>{{ event.createdOn| date: 'medium' }}</p>
                    </div>
          	    </div>
          	</div>
            <div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Last Updated By</h6>
                      <p>{{ event.lastUpdatedBy.name}}</p>
                    </div>
                </div>
            </div>
          	<div layout="row"  layout-fill layout-padding>
                <div flex="33">
                    <div class="md-list-item-text">
                      <h6 class="md-title">Updated On</h6>
                      <p>{{ event.updatedOn| date: 'medium' }}</p>
                    </div>
          	    </div>
          	</div>
      </md-content>
      <md-divider>
      <h5 class="md-title"><span>&nbsp;List Of Tabs</span></h5>
      <md-content>
        <md-list ng-repeat="eventTab in eventTabs">
          <md-list-item>
            <ng-md-icon icon="dns" style="fill:#00A2FF" size="32" class="md-avatar" alt="event-list-img"></ng-md-icon>
            <div layout="row"  layout-fill layout-padding>
              <div flex="33">
                  <div class="md-list-item-text">
                    <h6 class="md-title">Tab Name</h6>
                    <p>{{ eventTab.name | characters:20 :true }}</p>
                  </div>
              </div>

              <div flex="33">
                  <div class="md-list-item-text">
                    <h6 class="md-title"> Info </h6>
                    <p>{{ eventTab.info }}</p>
                  </div>
              </div>

              <div flex="33">
                  <div class="md-list-item-text">
                    <h6 class="md-title"> Tab Number </h6>
                    <p>{{ eventTab.tabNumber }}</p>
                  </div>
              </div>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>