<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="container-fluid">
				<h4><b>Welcome {{ user.name }}</b></h4>
				<br>
				<p>All applications to your department will be shown here</p>
				<br>
				<h5><b>Hope you find it easy to use! ^_^</b></h5>
			</div>
			<br><br>
			<table ng-show="1" st-table="responses" class="table table-striped">
				<thead>
					<tr>
						<th>Form</th>
						<th>Position</th>
						<th>Submissions</th>
						<th>Edit</th>
						<!-- <th>Sub-Department</th> -->
						<!-- <th>Response</th> -->
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="form in forms">
						<td>{{form.name}}</td>
						<td>{{form.position}}</td>
						<td><a ng-href="coordPortal/admin/submissions/{{form._id}}">View</a></td>
						<td><a href="/forms/edit/{{form._id}}">Edit</a></td>
						<!-- <td>{{response.form.department}}</td> -->
						<!-- <td>{{response.form.subDepartment}}</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-md-6">
			<p>Departments under {{department.name}}:</p>
			<ul>
				<li ng-repeat="subDepartment in department.subDepartments">{{subDepartment.name}}</li>
			</ul>
		</div>
		<div class="col-sm-offset-3 col-md-6 form-inline">
			<input class="form-control" ng-model="newSubDepartment"></input>
			<button class="btn btn-primary" ng-click="addSubDepartment()">Add Subdepartment</button>
		</div>
	</div>
</div>