<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
	<div class="container-fluid">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="container-fluid">
				<h4><b> Application for {{response.form.name}} submitted by {{response.user.name}}</b></h4>
				<br>
				<table ng-show="1" st-table="responses" class="table table-striped">
					<thead>
						<tr>
							<th>Question</th>
							<th>Answer</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="set in response.fields">
							<td>{{set.field_title}}</td>
							<td>{{set.field_value}}</td>
							<td><input class="form-control" ng-model="response.fields[$index].field_comment"></td>
						</tr>
					</tbody>
				</table>
				<div>
					<h5>Comments:</h5>
					<textarea class="form-control" ng-model="response.comments"></textarea>
					<br>
				</div>
				<div class="btn-group">
			        <label class="btn btn-success" ng-model="response.status" btn-radio="'Selected'" uncheckable>Select</label>
			        <label class="btn btn-warning" ng-model="response.status" btn-radio="'Shortlisted'" uncheckable>Shortlist</label>
			        <label class="btn btn-danger" ng-model="response.status" btn-radio="'Rejected'" uncheckable>Reject</label>
			    </div>
			    <br><br>
			    <button class="btn btn-primary" ng-click="saveFeedback(response)">Save</button>
			    <br><br>
			    <div class="alert alert-success" ng-show="showSaved">Saved</div>
			</div>
		</div>
	</div>
</div>