<div ng-include="'components/navbar/navbar.html'"></div>
<div class="row">
	<div class="container-fluid">
		<div class="col-sm-12">
			<div class="container-fluid">
				<h4>
					<b> Application for <span class="bg-info">{{response.form.name}}</span> submitted by <span class="bg-info">{{response.user.name}}-[{{response.user.rollNumber}}]</span> | 
						<span ng-class="{ 'text-success': response.status==='Selected',
									  'text-danger': response.status==='Rejected',
									  'text-primary': response.status==='Shortlisted',
									  'text-warning': response.status==='Pending' }">
							{{response.status}}
						</span>
					</b>
				</h4>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						Name : {{response.user.name}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						Roll No : {{response.user.rollNumber}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						CGPA : {{response.user.cgpa}}
					</div>
				</div>				
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						Email : {{response.user.email}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						Phone No : {{response.user.phoneNumber}}
					</div>
				</div>				
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						Hostel : {{response.user.hostel.name}}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						Room No : {{response.user.roomNumber}}
					</div>
				</div>
				<h4 ng-show="response.fileId" class="col-sm-12">
                    <a ng-href="api/uploads/{{response.fileId}}/{{response.form.name}}_{{response.user.rollNumber}}" target="_blank" ng-if="response.fileId">Download the Submitted file</a>
                    <p ng-if="!response.fileId">No file has been submitted</p>
                </h4>
                <br>
<!-- 				<table ng-show="1" st-table="response" class="table table-striped">
					<thead>
						<tr>
							<th>Question</th>
							<th>Answer</th>
							<th st-sort="updatedOn">Last Edit</th>
							<th>Comment</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="set in response.fields">
							<td>{{set.field_title}}</td>
							<td>{{set.field_value}}</td>
							<td>{{response.updatedOn | date}}</td>
							<td><textarea class="form-control" ng-model="response.fields[$index].field_comment"></textarea></td>
						</tr>
					</tbody>
				</table>
 -->
				<div>
					<h5>Comments:</h5>
					<textarea class="form-control" ng-model="response.comments"></textarea>
					<br>
				</div>
				<div class="btn-group">
			        <label class="btn btn-success" ng-model="response.status" btn-radio="'Selected'" uncheckable>Select</label>
			        <label class="btn btn-primary" ng-model="response.status" btn-radio="'Shortlisted'" uncheckable>Shortlist</label>
			        <label class="btn btn-warning" ng-model="response.status" btn-radio="'Pending'" uncheckable>Pending</label>
			        <label class="btn btn-danger" ng-model="response.status" btn-radio="'Rejected'" uncheckable>Reject</label>
			    </div>
			    <button ng-show="response" class="btn btn-info" ng-click="getApplications(response.user._id)">See what all he applied for</button>
			    <br><br>
				<table ng-show="showAll" st-table="forms" class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Position</th>
							<th>Status</th>
							<th>Last Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="form in forms">
							<td>{{form.form.name}}</td>
							<td>{{form.form.position.name}}</td>
							<td>{{form.status}}</td>
							<td>{{form.updatedOn | date}}</td>
						</tr>
					</tbody>
				</table>			    
			    <br><br>
			    <button class="btn btn-primary" ng-click="saveFeedback(response)">Save</button> ||
			    <a ui-sref="coordPortalCores">Back to Main menu</a> ||
			    <a ui-sref="coordPortalResponses({ id: response.form._id })">Back to Responses menu</a>
			    <br><br>
			    <div class="alert alert-success" ng-show="showSaved">Saved</div>
			</div>
		</div>
	</div>
</div>