<html ng-app="OnsiteRegistrationApp">
<head>
    <title>Onsite Registration</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
<h1>{{existing ? "For Registered Users:" : "For New Users:"}}</h1><button ng-click="toggle()">{{existing ? "New User?" : "Existing User?"}}</button>
<div ng-show="existing">
    Enter Shaastra ID: <input type="text" ng-model="festID" />
    <button ng-click="getUserByFestID()">Submit</button><br><br>
    <div ng-hide="found" style="color:red">{{error_msg}}</div>
    <table ng-show="found">
        <tr>
            <td>First Name:</td>
            <td>{{profile.name}}</td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>{{profile.secondName}}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{profile.gender == true ? "male" : "female"}}</td>
        </tr>
        <tr>
            <td>Age:</td>
            <td>{{profile.age}}</td>
        </tr>
        <tr>
            <td>Email ID:</td>
            <td>{{profile.email}}</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>{{profile.city}}</td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td>{{profile.phoneNumber}}</td>
        </tr>
        <tr>
            <td>Want Accomodation? :</td>
            <td>{{profile.wantAccomodation ? "Yes": "No"}}</td>
        </tr>
        <tr>
            <td>College/School Name:</td>
            <td>{{profile.college}}</td>
        </tr>
        <tr>
            <td>School Student?:</td>
            <td>{{profile.schoolStudent? "Yes": "No"}}</td>
        </tr>
        <tr>
            <td>Barcode ID:</td>
            <td><input type="text" ng-model="barcodeID" /></td>
        </tr>
    </table>
    <br><br>
    <button ng-click="updateUserBarcode()">Update Barcode</button>
</div>
<div ng-hide="existing">
    <form ng-submit="newUser()">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" ng-model="user.name" required></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" ng-model="user.secondName"></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>Male: <input type="radio" ng-model="user.gender" ng-value=true>  Female: <input type="radio" ng-model="user.gender" ng-value=false></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="number" ng-model="user.age" required></td>
        </tr>
        <tr>
            <td>Email ID:</td>
            <td><input type="text" ng-model="user.email" required></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" ng-model="user.password" required></td>
        </tr>
        <tr>
            <td>Confirm Password:</td>
            <td><input type="password" ng-model="confirm_password" required></td>
            <td ng-hide="same"> The password does not match the above one </td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" ng-model="user.city" required></td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td><input type="number" ng-model="user.phoneNumber" required></td>
        </tr>
        <tr>
            <td>Want Accomodation? :</td>
            <td>Yes:<input type="radio" ng-model="user.wantAccomodation" ng-value=true> No:<input type="radio" ng-model="user.wantAccomodation" ng-value=false></td>
        </tr>
        <!-- <tr>
            <td>College/School Name:</td>
            <td><input type="text" ng-model="user.college"></td>
        </tr> -->
        <tr>
            <td>School Student?:</td>
            <td>Yes:<input type="radio" ng-model="user.schoolStudent" ng-value=true> No:<input type="radio" ng-model="user.schoolStudent" ng-value=false></td>
        </tr>
        <tr>
            <td>Barcode ID:</td>
            <td><input type="text" ng-model="user.barcodeID" required/></td>
        </tr>
    </table>
    <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>
