<div ng-include="'components/navbar/navbar.html'"></div>

<div style="position: absolute; left: 5%; padding-right: 45%; padding-top: 5%">

  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>List of all the Event Lists</span>
    </h2>
  </md-toolbar>

  <md-content>
    <md-card ng-repeat="eventList in allEventLists">
      <md-card-content layout="column">
        <div layout="row">
          <md-list-item class="md-3-line">
              <div class="md-list-item-text">
              	<ng-md-icon icon="view_headline"></ng-md-icon>
                <h4>{{ eventList.title | characters:20 :false }}</h4>
                <br>
                <ng-md-icon icon="info" ></ng-md-icon>
                <p>{{ eventList.info | characters:80 :false }}</p>
              </div>
          </md-list-item>
          <md-list-item class="md-3-line">
            <ng-md-icon icon="today" style="fill:#0082CC" size="32" class="md-avatar" alt="eventList-created-img"></ng-md-icon>
              <div class="md-list-item-text">
                <h3> Created On </h3>
                <p>{{ eventList.createdOn | date: 'medium' }}</p>
              </div>
          </md-list-item>
          <md-list-item class="md-3-line">
            <ng-md-icon icon="schedule" style="fill:#00517F" size="32" class="md-avatar" alt="eventList-last-updated-img"></ng-md-icon>
              <div class="md-list-item-text">
                <h3> Latest Activity </h3>
                <p>{{ eventList.updatedOn | date: 'medium' }}</p>
              </div>
          </md-list-item>
        </div>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button ng-click="eventListEditModal(eventList)" class="md-raised md-primary md-hue-3">Edit Event List</md-button>
        <md-button ng-click="getEvents(eventList)" class="md-raised md-primary md-hue-3">View events</md-button>
      </div>
    </md-card>
  </md-content>
</div>

<div style="padding-left: 60%; padding-right: 5%; padding-top: 5%" ng-show="eventsShow">
  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
      <span>List of all the Events</span>
    </h2>
  </md-toolbar>

  <md-content>
    <md-card ng-repeat="event in events">
      <md-card-content layout="column">
        <div layout="row">
          <md-list-item class="md-3-line">
              <div class="md-list-item-text">
                <h3>Event Name</h3>
                <h4>{{ event.name }}</h4>
                <br>
                <h3>Event Info</h3>
                <p>{{ event.info }}</p>
              </div>
          </md-list-item>
        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>