.eventListContainer{
	position: absolute; 
	left: 5%; 
	padding-right: 45%; 
	padding-top: 5%;
}	

.eventListContainer md-toolbar{
	border-radius: 4px 4px 0px 0px;
}

.eventsContainer{
	padding-left: 60%;
	padding-right: 5%;
	padding-top: 5%;
}

.editEventListContainer md-toolbar{
	border-radius: 4px 4px 0px 0px;
}