<div ng-include="'components/navbar/navbar.html'"></div>

<div layout="row" layout-margin>

  <div class="eventsPortal" flex flex-order="1">
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Create a new Category - EventList
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form name="newEventListForm" ng-submit="newEventList(newEventListForm)" novalidate>

          <md-input-container>
            <label>Category Name</label>
            <input name="title" ng-model="eventList.title" ng-required="true" mongoose-error />
          </md-input-container>
          <div style="color:red">
            <span ng-show="form.title.$error.required && submitted">
              Title is required.
            </span>
            <span>{{ errors.other }}</sapn>
          </div>

          <md-input-container>
            <label>Category Info</label>
            <textarea required name="info" ng-model="eventList.info" mongoose-error></textarea>
          </md-input-container>
          <div style="color:red">
            <span ng-show="form.info.$error.required && submitted">
              Info is required.
            </span>
            <span>{{ errors.other }}</sapn>
          </div>

          <md-button type="submit" class="md-raised md-primary">Create</md-button>
        </form>
      </md-content>  
    </div>
  </div>

  <div class="eventsPortal" flex flex-order="2">
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">
          Create a new Event
        </h1>
      </md-toolbar>

      <md-content layout-padding>
        <form name="newEventForm" ng-submit="createEvent(newEventForm)" novalidate>

          <md-input-container>
            <label>Event Name</label>
            <input name="title" ng-model="event.title" ng-required="true" mongoose-error />
          </md-input-container>
          <div style="color:red">
            <span ng-show="form.title.$error.required && submitted">
              Title is required.
            </span>
            <span>{{ errors.other }}</sapn>
          </div>

          <md-input-container>
            <label>Event Info</label>
            <textarea required name="info" ng-model="event.info" mongoose-error></textarea>
          </md-input-container>
          <div style="color:red">
            <span ng-show="form.info.$error.required && submitted">
              Info is required.
            </span>
            <span>{{ errors.other }}</span>
          </div>

          <md-chips ng-model="selectedCoords" md-autocomplete-snap md-require-match>
            <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in coords"
              md-item-text="item.name"
              placeholder="Assign a team member">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>
            <md-chip-template>
              <strong>{{ $chip.name }}</strong>
            </md-chip-template>
          </md-chips>
          <br>

          <md-chips ng-model="selectedEventLists" md-autocomplete-snap md-require-match>
            <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="searchText"
              md-items="item in eventLists"
              md-item-text="item.title"
              placeholder="Assign an event list">
                <span md-highlight-text="searchText">{{item.title}}</span>
            </md-autocomplete>
            <md-chip-template>
              <strong>{{ $chip.title }}</strong>
            </md-chip-template>
          </md-chips>

          <md-button type="submit" class="md-raised md-primary">Create</md-button>
        </form>
      </md-content>  
    </div>
  </div>

</div>