<div ng-include="'components/navbar/navbar.html'"></div>

<div layout="row" layout-margin>
  <div class="eventsPortal eventListContainer" flex flex-order="1">
    <div class="md-whiteframe-z1" ng-show="0">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>Registrations for {{eventDetails.name}} </span>
        </h2>
      </md-toolbar>
      
      <md-content class="scrollOnHover">
        <md-list ng-repeat="registration in allRegistrations">
          <md-list-item>
            <!-- <ng-md-icon icon="dns" style="fill:#00A2FF" size="32" class="md-avatar" alt="event-list-img"></ng-md-icon> -->
            <!-- <img ng-src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/4/11/1397210130748/Spring-Lamb.-Image-shot-2-011.jpg"></ing> -->

            <!-- <img ng-src="api/uploads/{{eventList.imageid}}/{{eventList.imagename}}" width="100" height="100" /> -->
            <div layout="row" layout-fill layout-padding>
              <div flex>
                <div class="md-list-item-text">
                  <h5>Team Name</h5>
                  <p class="md-title">{{ registration.team.teamName | characters:20 :true }}</p>
                </div>
              </div>

              <div flex>
                <div class="md-list-item-text">
                  <h5> Team Members </h5>
                  <p class="md-title" ng-repeat="member in registration.team.teamMembers">{{ member.name}}</p>
                </div>
              </div>

              <!-- <div flex>
                <div class="md-list-item-text">
                  <h5> Latest Activity </h5>
                  <p class="md-title">{{ eventList.updatedOn | date: 'medium' }}</p>
                </div>
              </div> -->
            </div>
          </md-list-item>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="getEvents(eventList)" class="md-raised md-primary">View registration</md-button>
            <md-button ng-show="showButton" ng-click="editEventListPhoto($index)" class="md-raised md-primary">View File</md-button>
          </div>
          <md-divider></md-divider>
        </md-list>
      </md-content>
    </div>

    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Registrations for {{eventDetails.name}} </span>
      </h2>
    </md-toolbar>
    
    <button class="btn btn-link" ng-click="exportToExcel('#table1')">
      <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>

    <table border="1" style="width:100%" id="table1">
    <thead>
        <tr>
          <th>Team Name</th>
          <th>Member 1</th>
          <th>Email 1</th>
          <th>Shaastra ID 1</th>
          <th>Member 2</th>
          <th>Email 2</th>
          <th>Shaastra ID 2</th>
          <th>Member 3</th>
          <th>Email 3</th>
          <th>Shaastra ID 3</th>
          <th>Member 4</th>
          <th>Email 4</th>
          <th>Shaastra ID 4</th>
          <th>Member 5</th>
          <th>Email 5</th>
          <th>Shaastra ID 5</th>
          <th>Member 6</th>
          <th>Email 6</th>
          <th>Shaastra ID 6</th>
          <th>Member 7</th>
          <th>Email 7</th>
          <th>Shaastra ID 7</th>
        </tr>
      </thead>
      <!-- <my-table-body allRegisrations="allRegistrations"></my-table-body> -->

      <tbody>
        <tr ng-repeat="registration in allRegistrations track by $index">
          <td>{{ registration.team.teamName }}</td>
          <td ng-repeat-start="member in registration.team.teamMembers">{{ member.name }}</td>
          <td>{{ member.email }}</td>
          <td ng-repeat-end>{{ member.festID }}</td>
        </tr>
      </tbody>


    </table>

  </div>

</div>