<div ng-include="'components/navbar/navbar.html'"></div>

<div layout="row" layout-margin>
  <div class="eventsPortal">
    <md-toolbar class="md-theme-light">
      <h2 class="md-toolbar-tools">
        <span>Registrations for {{eventDetails.name}}</span>
      </h2>
      <p class="md-toolbar-tools">Number of registrations so far - {{numberOfRegistrations}}</p>
    </md-toolbar>
    
    <button class="btn btn-link" ng-click="exportToExcel('#table1')">
      <span class="glyphicon glyphicon-share"></span> Export to Excel
    </button>

    <table border="1" style="width:100%" id="table1">
      <thead>
        <tr>
          <th ng-if="eventDetails.requireTDP">TDP Status</th>
          <th>Team Name</th>
          <th>Member 1</th>
          <th>Email 1</th>
          <th>Phone 1</th>
          <th>Shaastra ID 1</th>
          <th>College 1</th>
          <th>Member 2</th>
          <th>Email 2</th>
          <th>Phone 2</th>
          <th>Shaastra ID 2</th>
          <th>College 2</th>
          <th>Member 3</th>
          <th>Email 3</th>
          <th>Phone 3</th>
          <th>Shaastra ID 3</th>
          <th>College 3</th>
          <th>Member 4</th>
          <th>Email 4</th>
          <th>Phone 4</th>
          <th>Shaastra ID 4</th>
          <th>College 4</th>
          <th>Member 5</th>
          <th>Email 5</th>
          <th>Phone 5</th>
          <th>Shaastra ID 5</th>
          <th>College 5</th>
          <th>Member 6</th>
          <th>Email 6</th>
          <th>Phone 6</th>
          <th>Shaastra ID 6</th>
          <th>College 6</th>
          <th>Member 7</th>
          <th>Email 7</th>
          <th>Phone 7</th>
          <th>Shaastra ID 7</th>
          <th>College 7</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="registration in allRegistrations track by $index">
          <td ng-if="eventDetails.requireTDP"><input type="checkbox" ng-model="registration.submittedTDP" ng-change="tdpStatus(registration._id)">{{ registration.submittedTDP ? 'Submitted':'Not submitted' }}</td>
          <td>{{ registration.team.teamName }}</td>
          <td ng-repeat-start="member in registration.team.teamMembers">{{ member.name }}</td>
          <td>{{ member.email }}</td>
          <td>{{ member.phoneNumber }}</td>
          <td>{{ member.festID }}</td>
          <td ng-repeat-end>{{ member.college.collegeName }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>