 <div ng-include="'components/navbar/navbar.html'"></div><br><br><br>


<!-- <div infinite-scroll="load()">
		<div  ng-repeat="post in posts" >
			
			<!-- <form  ng-submit="addComment(post)" name="commentPost">
				<textarea class="form-control" ng-model="post.newComment" rows="3" placeholder="Enter a new comment..."></textarea>
				<input class="btn btn-primary" type="submit" ng-diasbled="commentPost.$invalid" value="Comment">
			</form>
			
			
		</div>
</div> -->
 

<div layout="row">
  
    <md-whiteframe class="md-whiteframe-z3" flex="50" offset="25" >
		<md-toolbar class="md-primary">
	        <h1 class="md-toolbar-tools">
	          Create a new Post.....
	        </h1>
	      </md-toolbar>

	      <md-content layout-padding>
	        <form class="form" name="wallPost" ng-submit="createPost()" >

	          <md-input-container>
	            <label>Title</label>
                 <input type="text" name="newPosTitle" ng-model="newPostTitle" >	            
	          </md-input-container>

	          <md-input-container>
	            <label>Info</label>
	            <textarea type="text" name="newPost" ng-model="newPost" columns="1"></textarea>
	          </md-input-container>          
	          <div>
	            <md-button class="md-raised md-primary" type="submit">
	              Post
	            </md-button>
	          </div>

	        </form>
	      </md-content>
  </md-whiteframe>
</div>

<br><br>
<div infinite-scroll="load()">	
	<div ng-repeat="post in posts">
	  <div layout="row">
	  	<md-whiteframe class="md-whiteframe-z4" flex="50" offset="25" style="background-color : #F5F5F0">
	  		<div layout="column">
		  		<div flex layout="row">
		  			<div flex="10" layout-margin><br><br>
		  				<img ng-src="api/users/{{post.createdBy._id}}/profilePic" class="md-avatar" alt="{{post.createdBy.name}}" width="60px" height="60px" style="border-radius: 30px ">
		  			</div>
		  			<div flex >		  			
		  				<h3>{{post.title}}</h3>
	  					<div layout="row">
	  						<div flex>
	  							<h4>{{post.createdBy.name}} <ng-md-icon icon="send" style="fill: grey" size="15"></ng-md-icon>  {{post.wall.name}}</h4>
	  						</div>
	  						<div flex="20">
	  							<h5>{{ post.createdOn | date : 'medium'}}</h5>
	  						</div>
	  					</div>
		  				<p style="white-space: pre;">{{post.info}}</p>
		  			</div>
		  		</div>
		  		<md-divider></md-divider><br>
		  		<div ng-repeat="comment in post.comments">
			  		<div flex offset="10" style="background-color : #EAEAE8" layout-margin layout="row">
			  			<div flex="5"><br>
			  				<img ng-src="api/users/{{comment.createdBy._id}}/profilePic" width="40px" height="40px" style="border-radius: 20px " alt="{{comment.cureatedBy.name}}">
			  			</div>
			  			<div flex>
				  			<div layout="row">
				  				<div flex><h5>{{comment.createdBy.name}}</h5></div>
				  				<div flex="20"><h6>{{ comment.createdOn | date : 'medium'}}</h6></div>
				  			</div>
				  			<h6>{{comment.info}}</h6>
			  			</div>
			  		</div>
		  		</div>
		  		
		  		<div flex offset="10">
		  			<md-content>
				  		<form  ng-submit="addComment(post)" name="commentPost">
							<md-input-container flex >
       							 <label>Enter a new comment....</label>
       							 <textarea ng-model="post.newComment" columns="1" required></textarea>
      						</md-input-container>
      						<div>
	         					<md-button class="md-raised md-primary" type="submit">
	             					Comment
	           					 </md-button>
	         			    </div>
						</form>
					</md-content>
				</div>
				<br>
            </div>
	  	</md-whiteframe>
	  </div>
	  <br>
	</div>
</div>

