<div class="jumbotron col-sm-offset-3 col-sm-6">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Application for {{department}}</h2>
        </div>

        <div class="col-sm-12">


            <form name="form">
                Single Image with validations
                <input 
                    type="file" 
                    ngf-select 
                    ng-model="file" 
                    name="file" 
                    ngf-max-size="20MB" 
                />
                <!-- <i ng-show="up.upload_form.file.$error.required">*required</i><br>
                <i ng-show="up.upload_form.file.$error.maxSize">File too large 
                {{up.file.size / 1000000|number:1}}MB: max 20M</i> -->
               <!--  Multiple files
                <div class="button" ngf-select ng-model="up.files" ngf-multiple="true">Select</div>
                Drop files: <div ngf-drop ng-model="up.files" class="drop-box">Drop</div> -->
                <button type="submit" ng-click="submit()">submit</button>
                <!-- <p>{{up.progress}}</p> -->
            </form>



             <form name="myForm" id="myForm" novalidate>
                <div class="row" ng-repeat="field in form.fields">
                    <div class="container">
                        <field-directive field="field">

                        </field-directive>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a ng-href = "{{questionLink}}" target="_blank"><h4 class="text-center"> Download the app questionnaire </h4></a>
                    </div>
                </div>
            </form>
            <!-- <br> -->
            <div>
                
                <div class="text-center">
                    <a ng-href="/coordPortal/dashboard">Return to dashboard</a>
                </div>
            </div>
        </div>
    </div>
</div>