<div class="text-center">
    <h2><u>{{ form.form.name }}</u></h2>
</div>

<div ng-show="!form.submitted">
     <form name="myForm" id="myForm">
        <div class="row" ng-repeat="field in form.values">
            <div class="container">
                <field-directive field="field">

                </field-directive>
            </div>
        </div>
    </form>
    <br>
    <div>
        <p class="text-center">
            <button class="btn btn-primary" type="button" ng-click="save()"><span class="glyphicon glyphicon-floppy"></span> Save</button>
        </p>
    </div>
</div>